/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
  font-size: 18px;
  line-height: 1.5;
}

.hlavicka {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width: 170px;
  text-align: left;
}

.menu {
  margin-left: 100px;
}

.menu li {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
  color: #242424;
  padding: 10px 15px;
}

a:hover {
  background-color: #f195b2;
  color: white;
  border-radius: 20px;
}

.hero {
  background-image: url(images/cupcake.jpg);
  background-size: 100%;
  margin-top: 0;
}

.obsah-sekce {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.dva-sloupce {
  display: flex;
}

h1 {
  font-size: 52px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: white;
}

.hero-text {
  font-size: 24px;
  color: white;
  font-style: italic;
}

h2 {
  font-size: 36px;
  color: #3e606b;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Lora", serif;
}

.tlacitka {
  margin-top: 50px;
  margin-left: 20px;
}

.tlacitko {
  background-color: #f195b2;
  color: white;
  border-radius: 30px;
  padding: 15px 40px;
  text-align: left;
}

.tlacitko:hover {
  background-color: #d2567d;
  border-radius: 30px;
}

.sekce-seda {
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
}

.nadpis-sekce {
  font-family: "Playfair Display", serif;
}

.nabidka {
  display: flex;
}

.produkt {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  
}

.produkt-obsah {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

h3 {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.foto {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

.paticka {
  color: white;
  background-color: #303339;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dort {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  margin-left:0;
}

.livanec {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.kolac {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.buchta {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
}
